/* nav a{
  font-family: Arial, Helvetica, sans-serif;

  background-color: lightgrey;

  text-align: center;
  margin: 10px;
  padding: 10px;
} */

/* h1 {
  text-align: center;
  opacity: 1;
} */

/* h2 {
  text-align: center;
}  */

/* h5 {
  display: none;
} */

/* p {
  text-align: center;
  opacity: 1;
} */

/* .clearfix {
  clear: both;
} */

body {
  font-family: Arial, Helvetica, sans-serif;
}

#header {
  /* background: url("../assets/graham-holtshausen-fUnfEz3VLv4-unsplash.jpg") no-repeat center; */
  /* background-image: radial-gradient(
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, .25),
      rgba(0, 0, 0, .5),
      rgba(0, 0, 0, .75),
      rgba(0, 0, 0, 1))
      url("../assets/graham-holtshausen-fUnfEz3VLv4-unsplash.jpg"); */
  /* color:  white; */
  /* background: url("https://w.wallhaven.cc/full/ym/wallhaven-ymdvp7.jpg") no-repeat center;  */
  /* background: url("") no-repeat center; 
  background-size: cover;
  text-align: center;
  opacity: 0.5; */
  /* background-color: lightblue; */
  background-color: lightgrey;
}

/* .display-4 {
  opacity: 1;
  font-weight: bold;
}

.lead {
  opacity: 1;
  font-weight: bold;
} */

.error {
  display: none;
  color: red;
}

.results {
  display: none;
}

/* #moreLink {
  display: none;
} */

.row {
  margin-top:  20px;
  margin-bottom:  20px;
}

img {
  border: 0px;
}

.wallpaperDiv {
  margin: 10px;
  /* padding: 10px; */
}


#moreRowDiv {
  /* background-color: lightgrey; */
  background-color: lightgrey;
}

/* .colorWhiteLink {
  color: white;
}

.colorBlackLink {
  color: black;
} */


a:link.colorWhiteLink, a:visited.colorWhiteLink, a:hover.colorWhiteLink, a:active.colorWhiteLink {
  color: white;
}

a:link.colorBlackLink, a:visited.colorBlackLink, a:hover.colorBlackLink, a:active.colorBlackLink {
  color: black;
}

.colorWhiteText {
  color: white;
}

.colorBlackText {
  color: black;
}